<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento na entrega do produto, configura os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Descrição do problema:</strong> {{ description }} <br />
  <br />

  <strong>Data de cancelamento:</strong> {{ canceledDate }} <br />
  <small>
    Você poderá retirar mais uma entrega hoje.
  </small>
</p>
